<header>
    <h1>Restaurante Informático</h1>
    <nav>
        <button class="btn btn-primary btn-nav"><a href="/">Mostrar Menú</a></button>
        <button class="btn btn-primary btn-nav"><a href="agregar">Añadir Plato</a></button>
        <button class="btn btn-primary btn-nav"><a href="eliminar">Eliminar Plato</a></button>
    </nav>
</header>