{{#> layoutExterno}}

    <h1>Añadir Menú</h1>
    <div class="cont-form">
    <form id="formulario-agregar" action="confirmacion" method="get" validate>
        <label for="formulario-agregar"><b>Ingresa los datos del nuevo plato</b></label>
        <input type="text" name="nombre" placeholder="Escriba el nombre" required>
        <input type="number" name="precio" placeholder="Ingrese un precio" required>
        <button  type="submit" href="confirmacion" >Añadir</button>
    </form>
    </div>

{{/layoutExterno}}