{{#> layoutExterno}}

       <h1>Eliminar Menú</h1>
    <div class="cont-form">
    <form id="formulario-eliminar" action="confirmeliminar" method="get" validate>
        <label for="formulario-eliminar"><b>Ingresa el nombre del plato que deseas eliminar</b></label>
        <input type="text" name="nombre" placeholder="Escriba el nombre" required>
        <button type="submit" href="confirmacion" >Eliminar</button>
    </form>
    </div>

{{/layoutExterno}}